@tailwind base;
@tailwind components;
@tailwind utilities;
.input {
  @apply w-full bg-slate-800 border border-slate-700 rounded-md p-3 text-sm text-white;
}

.btn-primary {
  @apply bg-indigo-600 px-4 py-2 rounded-md hover:bg-indigo-700;
}

.btn-outline {
  @apply border border-gray-400 px-4 py-2 rounded-md;
}

.btn-danger {
  @apply border border-red-500 text-red-400 px-3 py-1 rounded-md;
}
